body{
    background-color: pink;
    position: relative;
}

#root{
    margin: 30px;
}
h2{
    size: 42em;
    text-align: center;
    color: crimson;

}

.header{
    text-align: center;

}

a{
    background-color:crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn{
    background-color:crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;


}

.errorMsg, p{
    color: crimson;
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
}

.notLoggedInWelcome{
    text-align: center;
    color: crimson;
    margin-top: 30px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

.gameInfo{
    text-align: center;
    color: 	#696969;
    margin-top: 50px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

.quizBtn {
    height: 50px;
    background-color: #A9A9A9;
    font-size: 1em;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}


.quizQuestion {
    display: inline-block;
    font-family: serif;
    font-size: 1em;
    font-weight: bold;
}